{% extends "main_template.html" %}
{% load render_partial %}


{% block meta1 %}

<title>خدمات شرکت رنک صفر</title>
<meta name="description" content="ارائه مجموعه‌ای از خدمات دیجیتال و تخصصی برای توسعه و موفقیت کسب‌وکارهای مدرن."/>
<meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"/>
<meta property="og:title" content="خدمات شرکت رنک صفر | راهکارهای دیجیتال حرفه‌ای" />
<meta property="og:description" content="معرفی کامل خدمات شرکت رنک صفر برای رشد آنلاین، بهبود عملکرد و توسعه برند." />
<meta property="og:site_name" content="رنک صفر" />
<meta property="og:updated_time" content="2025-04-07T18:34:26+00:00" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:image:alt" content="لیست خدمات حرفه‌ای شرکت رنک صفر" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="article:published_time" content="2025-01-01T08:00:00+00:00" />
<meta property="article:modified_time" content="2025-04-07T18:34:26+00:00" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="خدمات شرکت رنک صفر | راهکارهای دیجیتال حرفه‌ای" />

<meta name="twitter:description" content="ارائه خدمات حرفه‌ای طراحی سایت، بهینه‌سازی و سئو با تمرکز بر نیازهای کسب‌وکارهای تبریز." />
<meta name="twitter:site" content="@ranksefr_com" />
<meta name="twitter:creator" content="@ranksefr_com" />
<meta name="twitter:image" content="https://example.com/sample-image.jpg" />
<meta name="twitter:label1" content="نویسنده" />
<meta name="twitter:data1" content="صدرا آبادکار" />
<meta name="twitter:label2" content="زمان مطالعه" />
<meta name="twitter:data2" content="کمتر از یک دقیقه" />

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "name": "خدمات شرکت رنک صفر | راهکارهای دیجیتال حرفه‌ای",
  "description": "ارائه مجموعه‌ای از خدمات دیجیتال و تخصصی با تمرکز بر نیازهای برندها و کسب‌وکارهای تبریز.",
  "url": "https://rank0.ir/service/",
  "inLanguage": "fa",
  "datePublished": "2025-01-01T08:00:00+00:00",
  "dateModified": "2025-04-07T18:34:26+00:00",
  "isPartOf": {
    "@type": "WebSite",
    "name": "رنک صفر",
    "url": "https://rank0.ir/"
  },
  "author": {
    "@type": "Person",
    "name": "صدرا آبادکار"
  },
  "image": {
    "@type": "ImageObject",
    "url": "https://rank0.ir/media/img/service-banner.jpg",
    "width": 1200,
    "height": 630,
    "caption": "معرفی خدمات شرکت رنک صفر"
  },
  "publisher": {
    "@type": "Organization",
    "name": "رنک صفر",
    "logo": {
      "@type": "ImageObject",
      "url": "https://rank0.ir/media/img/logo.png",
      "width": 600,
      "height": 60
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://rank0.ir/service/"
  }
}
</script>

{% endblock meta1 %}


{% block json %}

{% endblock json %}

{% block content %}


<div class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!-- Page Header Box Start -->
          <div class="page-header-box">
            <h1 class="text-anime-style-3">خدمات {% render_partial 'company:name' %}</h1>
            <nav class="wow fadeInUp" data-wow-delay="0.25s">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'main:index' %}">خانه  </a>
                </li>

              </ol>
            </nav>
          </div>
          <!-- Page Header Box End -->
        </div>
      </div>
    </div>
  </div>



  {% render_partial 'service:service_group' %}
  <!-- Page Header End -->
  <!-- Our Services Section Start -->
  <div class="our-services page-service">
    <div class="container">
      <div class="row">

{% for item in services %}
<div class="col-lg-4 col-md-6">
  <!-- Service Item Start -->
  <div class="service-item" data-wow-delay="0.25s">
    <div class="service-content">
      <div class="service-content-title">
         <a style="all: unset; text-decoration: none; max-width: 400px;" href="{% url 'service:www' slug=item.slug %}">
  <h2 id="imp" style="max-width: 400px;">{{ item.title }}</h2>
</a>
<a href="{% url 'service:www' slug=item.slug %}">
  <img alt="{{ item.title }}" src="{{ media_url }}images/arrow.svg" />
</a>

      </div>
      <p>
        {% autoescape off %}{{ item.text_summery }}{% endautoescape %}
      </p>
    </div>
    <div class="service-image">
      <figure class="image-anime">
        <img alt="{{item.title}}" src="{{media_url}}{{item.image_name}}" />
      </figure>
    </div>
  </div>
  <!-- Service Item End -->
</div>
{% endfor %}


      </div>
    </div>
  </div>
  <!-- Our Services Section End -->
  <!-- Overview Comapny Section Start -->




{% endblock content %}